
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Объявления о продаже</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>
<body >
    <main class="main-container">
    <div class="header" id="headerJS">
        <div class="nav_text_div">
                <div class="nav_logo">
                    <h1>РЫБАЦКiЙ СТАНЪ</h1>
                </div>
                 <div class="nav_elems">
                     <p id="nav_p_katalog">Каталог</p>
                     <p id="nav_p_feedback">Обратная связь</p>
                     <p id="nav_p_about">О нас</p>
                </div>
        </div>
    </div>
    <div id="first_pic">
            <img src="static/images/3.jpeg" width="100%" height="100%" />
            <p id="first_par">Рыбацкий стан - <br/> открыт для сотрудничества</p>
    </div>

    <div id="second_section">
        <!--<button @click="show = !show">
            Toggle render
        </button> -->
        <!-- Тестим невидимый элемент -->
        <transition name="slide-fade">
            <h1  v-if="show">
               МЫ ПРЕДОСТАВЛЯЕМ
            </h1>
        </transition>
        <br/>
        <br/>
        <br/>
        <br/>

        <div id="border_second">
        <transition-group name="slide-fade">
            <span v-if="show">
                <img src="static/images/icos/delivery-time.png" width="64px" height="64px"  id="__firstPic"/>
                <p class="section_two_p">
                    Хранение</p><br/>
                    <div class="p_description">
                        <p >Мы оказываем услуги по хранению вашего сырья или продукции</p>
                    </div>

            </span>
        </transition-group>

        <transition-group name="slide-fade">
            <span v-if="show">
                <img src="static/images/icos/process.png" width="64px" height="64px" id="__secondPic"/>
                <p class="section_two_p">
                    Обработка</p><br/>
                    <div class="p_description" >
                        <p>Мы можем провести обработку вашего сырья</p>
                    </div>

            </span>
        </transition-group>

        <transition-group name="slide-fade">
            <span v-if="show">
                <img src="static/images/icos/tuna.png" width="64px" height="64px" id="__thirdPic"/>
                <p class="section_two_p">
                    Производство</p><br/>
                    <div class="p_description">

                        <p>Мы оказываем услуги по производству консерв</p>
                    </div>

            </span>
        </transition-group>
        </div>

    </div>

    <hr />
    <br />
        <transition-group name="slide-fade">
    <div id="third_section">

        <h1 v-if="show">
            ГДЕ НАС НАЙТИ
        </h1>
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af43cab27dd25021fe40b42ff9cfd89b7cb858d2984c0a94d9165f8429e30e20c&amp;source=constructor" width="1280" height="500" frameborder="0" id="ya_map"></iframe>

    </div>
    </transition-group>
    <div id="testing">
        <p id="text">{{ message }}, {{message2}} {{counter}} раз </p>

    </div>
    <div id="demo">


    </div>
        <script src="dist/bundle.js"></script>
    <!--<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
    </main>

</body>
</html>
